.container {
  width: 100%;
  text-align: center;
  margin: 0 auto;

  .cardsContainer {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }
  .scoreWrapper {
    width: 100%;
    padding-left: 8px;
    padding-right: 8px;
    display: flex;
    justify-content: space-between;
  }
}
