.header {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo {
  margin-bottom: 10px;
  width: 520px;
  @media screen and (max-width: 768px) {
    width: 90%;
  }
}

.subtitle {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 9px;
  width: 229px;
  height: 40px;
  background: #d8e054;
  border-radius: 25px;
}
